# HAPI-API/.dockerignore

# Node modules
node_modules

# Logs
npm-debug.log
yarn-error.log

# Environment variables
.env

# Git files
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# OS-specific files
.DS_Store
Thumbs.db
